@import "tailwindcss";

@font-face {
    font-family: "Padauk";
    src: url("/fonts/Padauk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Padauk";
    src: url("/fonts/Padauk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
@theme {
    /* Define fonts */

    --font-en: "Google Sans", sans-serif;
    --font-mm: "Paduak", sans-serif;

    --font-sans: var(--current-font, var(--font-en));

    /* Define your theme colors */
    --color-primary: #3b82f6;
}

@layer base {
    body {
        background-color: #020617;
        @apply text-slate-300 antialiased font-sans;
    }

    /* This is the magic: when <html> has the class .lang-mm,
     it overrides the default font-family */
    html.lang-mm {
        @apply font-sans leading-relaxed;
        --current-font: var(--font-mm);
    }
}

@layer utilities {
    .scrollbar-hide {
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .bg-clip-text {
        background-clip: text;
        box-decoration-break: clone;
    }
}
