@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui;
    --color-primary: #3b82f6;
}

@layer utilities {
    .scrollbar-hide {
        /* IE and Edge */
        -ms-overflow-style: none;
        /* Firefox */
        scrollbar-width: none;
    }

    /* Chrome, Safari and Opera */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

@layer base {
    body {
        background-color: #020617;
        @apply text-slate-300 antialiased;
    }

    .bg-clip-text {
        -webkit-background-clip: text;
        background-clip: text;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
}